<script src="assets/js/rss-parser.min.js"></script>
<!-- The polyfills js is generated during the build process -->
<script src="build/polyfills.js"></script>

<!-- The bundle js is generated during the build process -->
<script src="build/main.js"></script>
<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="ion-text-center">
        Mis Fuentes
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <div class="ion-text-center">
        <ion-title size="large">Mis Fuentes</ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label position="floating">Añade una dirección RSS o Atom</ion-label>
    <ion-input [(ngModel)]="targetUrl"></ion-input>
  </ion-item>
  <ion-button color="secondary" expand="block" (click)="parseUrl()">Añadir Feed</ion-button>
      <ion-list>
          <ion-item-sliding *ngFor="let entry of entries">
              <ion-item>
                  <a (click)="openUrl(entry)"></a>
              </ion-item>
          </ion-item-sliding>
      </ion-list>
</ion-content>