<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      <div class="ion-text-center">
        <img src="././assets/img/titlelogo.png" alt="FastNews" height="30">
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border" color="primary" mode="md">
    <ion-toolbar color="primary">
      <div class="ion-text-center">
        <img src="././assets/img/titlelogo.png" alt="FastNews" height="30">
      </div>
    </ion-toolbar>
  </ion-header>
  <h1 class="ion-margin ion-padding-horizontal" size="large">Lo Último</h1>
 <app-articles [data]="data">

 </app-articles>
</ion-content>
