<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Registrarte</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-item lines="full">
  <ion-label position="floating">Nombre</ion-label>
  <ion-input [(ngModel)]="name" type="text" required></ion-input>
  </ion-item>
  <ion-item lines="full">
  <ion-label position="floating">Email</ion-label>
  <ion-input [(ngModel)]="email" type="email" required></ion-input>
  </ion-item>
  <ion-item lines="full">
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input [(ngModel)]="password" type="password" required></ion-input>
  </ion-item>
  <ion-row>
  <ion-col>
  <ion-button type="submit" color="primary" expand="block" (click)="signup()">Registrate</ion-button>
  </ion-col>
  </ion-row>
  </ion-content>
